.title_container{
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: 2em;
    margin-left: 550px;
}

.title{
    color: #e33d33;
    text-align: center;
    font-size: 3em;
    margin-right: 0.4em;
}

.title span{
    color: #111;
}

.pokemon_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    margin: 0 auto;
}

.container_pesquisa{
    display: flex;
    justify-content: center;
    top: -50px;
    margin-bottom: 3em;
}

.container_pesquisa input{
    border: none;
    border-bottom: 1px solid #333;
    padding: 3px;
    width: 30em;
    margin-right: .5em;
}

/* .inicio{
    position: fixed;
    display: flex;
    right: 0;
    background-color: #e33d33;
    border: none;
    color: #fff;
    border-radius: .3em;
    padding: .5em 1em;
    width: 7em;
    height: 3em;
    margin-right: 4.5em;
    top: 40em;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.inicio:hover{
    background-color: #333;
    transform: scale(1.1);
} */


@media (max-width: 440px){
    .pokemon_container{
        display: grid;
        width: 400px;
        grid-template-columns: repeat(2 , 1fr);
        
    }
    .title_container{
        margin-left: 100px;
    }

    .container_pesquisa input{
        width: 25em;
    }
}