.navbar{
    display: flex;
    justify-content: center;
    padding: 1em 1.2em;
    margin-bottom: 2em;
    background-color: rgb(109, 107, 107);
    transition: .3s;
}

.navbar h1{
    color: #fff;
    text-decoration: none;
}

.img{
    display: flex;
    position: relative;
    margin: auto;
    margin-bottom: 10px;
}

.img:hover{
    transform: scale(1.29,1.29);
}

.links_nav{
    display: flex;
    gap: .6em;
    list-style: none;
    font-weight: bolder;
    font-size: 1.5em;
}

.link{
    text-decoration: none;
    color: #fff;
}

.link:hover{
    color: #000;
    transform: scale(1.1);
}

